{% extends "account/base.html" %}

{% block styles %}
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
{% endblock %}
{% block content %}
<!-- Heading -->
<div class="card mb-4 wow fadeIn">
  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">

    <h4 class="mb-2 mb-sm-0 pt-1">
      <span>Dashboard</span>
    </h4>

  </div>

</div>
<!-- Heading -->

<!--Grid row-->
<div class="row wow fadeIn">

  <!--Grid column-->
  <div class="col-lg-12 col-md-12 mb-4">

    <!--Card-->
    <div class="card">

      <!--Card content-->
      <div class="card-body">

        <canvas id="myChart"></canvas>

      </div>

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-3 mb-4">



  </div>
  <!--Grid column-->

</div>
<!--Grid row-->

<!--Grid row-->
<div class="row wow fadeIn">

  <!--Grid column-->
  <div class="col-lg-12 col-md-12 mb-4">

    <!--Card-->
    <div class="card">

      <!-- Card header -->
      <div class="card-header">Energy consumption of friends</div>

      <!--Card content-->
      <div class="card-body">

        <canvas id="lineChart"></canvas>

      </div>

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->

  <!--Grid column-->


  <!--Grid column-->
  <div class="col-lg-6 col-md-6 mb-4">

    <!--Card-->
    <div class="card">

      <!-- Card header -->
      <div class="card-header">Appliance-wise energy consumption</div>

      <!--Card content-->
      <div class="card-body">

        <canvas id="doughnutChart"></canvas>

      </div>

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-6 col-md-6 mb-4">

    <!--Card-->
    <div class="card">

      <!-- Card header -->
      <div class="card-header">Horizontal Bar Chart</div>

      <!--Card content-->
      <div class="card-body">

        <canvas id="horizontalBar"></canvas>

      </div>

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->
</div>
<!--Grid row-->

{% endblock %}

{% block scripts %}
<!-- Charts -->
<script type="text/javascript">
  // Line
  labels_x = [];
  labels_y = [];

  {% for bill in bills %}
       labels_x.push('{{ bill.bill_amount }}'.toUpperCase());
       labels_y.push({{ bill.power_consumed }});
  {% endfor %}

  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels_x,
      datasets: [{
        label: '# of Energy Consumed'+' | Values in chronological order (R->L)',
        data: labels_y,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(75, 192, 192, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)',
          'rgba(54, 162, 235, 1)',
          'rgba(75, 192, 192, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });

  //line
  data = [];
  friend_data = [];

  {% for bill in bills %}
       data.push({{ bill.power_consumed }});
  {% endfor %}

  {% for friend_monthly in friends_bills %}

    friend_data.push({{ friend_monthly.power_consumed }});

  {% endfor %}

  var ctxL = document.getElementById("lineChart").getContext('2d');
  var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
      labels: ["Jun'19", "May'19", "Apr'19", "Mar'19", "Feb'19", "Jan'19", "Dec'18", "Nov'18",
              "Oct'18", "Sept'18", "Aug'18", "Jul'18"],
      datasets: [

        {
          label: "My energy consumption",
          backgroundColor: [
            'rgba(105, 0, 132, .2)',
          ],
          borderColor: [
            'rgba(200, 99, 132, .7)',
          ],
          borderWidth: 2,
          data: data,
        },
        {
          label: "Friend's energy consumption",
          backgroundColor: [
            'rgba(0, 137, 132, .2)',
          ],
          borderColor: [
            'rgba(0, 10, 130, .7)',
          ],
          data: friend_data,
        }
      ]
    },
    options: {
      responsive: true
    }
  });


  //doughnut

  labels = [];
  values = [];

  {% for appl_name, appl_power in appliances.items %}
       labels.push('{{ appl_name }}'.toUpperCase());
       values.push({{ appl_power }});
  {% endfor %}

  var ctxD = document.getElementById("doughnutChart").getContext('2d');
  var myLineChart = new Chart(ctxD, {
    type: 'doughnut',
    data: {
      labels: labels,
      datasets: [{
        data: values,
        backgroundColor: ["#F7464A", "#46BFBD", "#FDB45C"],
        hoverBackgroundColor: ["#FF5A5E", "#5AD3D1", "#FFC870"]
      }]
    },
    options: {
      responsive: true
    }
  });
</script>

<!--Google Maps-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS9E1quQiyoGj2MRuF6_sfE-13tI8SCQk&callback=initMap" type="text/javascript"></script>
<script>
  // Regular map
  function initMap() {
    var map = new google.maps.Map(
      document.getElementById('map-container-google-2'), {
        center: new google.maps.LatLng(17.4452, 78.3493),
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng(17.4452, 78.3493),
      map: map
    });

  }


  new Chart(document.getElementById("horizontalBar"), {
    "type": "horizontalBar",
    "data": {
      "labels": ["Red", "Orange", "Yellow", "Green", "Blue", "Purple", "Grey"],
      "datasets": [{
        "label": "My First Dataset",
        "data": [22, 33, 55, 12, 86, 23, 14],
        "fill": false,
        "backgroundColor": ["rgba(255, 99, 132, 0.2)", "rgba(255, 159, 64, 0.2)",
          "rgba(255, 205, 86, 0.2)", "rgba(75, 192, 192, 0.2)",
          "rgba(54, 162, 235, 0.2)",
          "rgba(153, 102, 255, 0.2)", "rgba(201, 203, 207, 0.2)"
        ],
        "borderColor": ["rgb(255, 99, 132)", "rgb(255, 159, 64)", "rgb(255, 205, 86)",
          "rgb(75, 192, 192)", "rgb(54, 162, 235)", "rgb(153, 102, 255)",
          "rgb(201, 203, 207)"
        ],
        "borderWidth": 1
      }]
    },
    "options": {
      "scales": {
        "xAxes": [{
          "ticks": {
            "beginAtZero": true
          }
        }]
      }
    }
  });
</script>
{% endblock %}
