{% extends "home/base.html" %}

{% block content %}
<!--Grid column-->
<div class="col-md-6 offset-md-3 mb-4 white-text text-center text-md-center">

  <h1 class="display-4 font-weight-bold">Energy Auditor for Households</h1>
  <hr class="hr-light">

  <p>
    <h3 class="display-5 font-weight-bold">IBM Hack 2019</h3>
  </p>

  <p class="mb-4 d-none d-md-block">
    <h4 class="display-5 font-weight-bold">Team name: Greenticks</h4>
  </p>

  <p class="mb-4 d-none d-md-block">
    <h4 class="display-5 font-weight-bold">College: IIIT, Hyderabad</h4>
  </p>

  <a href="/login" class="btn btn-indigo btn-lg">Login
    <i class="fas fa-graduation-cap ml-2"></i>
  </a>

  <a href="/register" class="btn btn-indigo btn-lg .col-md-3 .offset-md-3">Register
    <i class="fas fa-graduation-cap ml-2"></i>
  </a>

</div>
<!--Grid column-->

{% endblock %}
